.poke-list{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive;
    list-style: none;
}

.pokemon{
    width: 120px;
    height: 150px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    text-transform: capitalize;
}

.poke-name{
    font-size: 14px;
}

.poke-img{
    width: 80px;
    height: 80px;
}