.poke-list{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive;
    list-style: none;
    justify-content: space-around;
    margin: 20px;
}

.pokemon{
    width: 120px;
    height: 150px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
    overflow: hidden;
}

.poke-name{
    font-size: 14px;
    margin-top: 8px;
}

.poke-img{
    width: 65px;
    height: 65px;
}

.container-id{
    font-size: 8px;
    font-weight: 700;
    display: flex;
    width: 120px;
    position: absolute;
    z-index: 1;
    margin-top: 55px;

}

.poke-id{
    background-color: white;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container-type{
    background-color: red; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    border-top: 2px solid black;
}

.poke-type{
    font-weight: 700;
    font-size: 10px;
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
}